@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
	box-sizing: border-box;
	font-family: 'Lobster', cursive;
}

html, body, #root {
	margin: 0;
	height: 100%;
}

.App {
	background-image: url('https://www.azutura.com/media/catalog/product/cache/52/image/650x/040ec09b1e35df139433887a97daa66f/W/S/WS-42796_WP.jpg');
	background-size: cover;
	background-position: center;
	height: 100%;
}

.grid-container {
	padding: 2%;
	display: grid;
	grid-gap: 5%;
	grid-template-columns: repeat(4, 21.25%);
	grid-template-rows: repeat(4, 21.25%);
	margin: 0 auto;
	background-color: rgba(255,255,255, .3);
	box-shadow: 0 0 15px 5px rgba(255,255,255, .3);
	perspective: 1000;

	@media only screen and (orientation: landscape) {
		height: 80vh;
		width: 80vh;
	}

	@media only screen and (orientation: portrait) {
		height: 95vw;
		width: 95vw;
	}

	.grid-item {
		border: 3px solid white;
		background-position: center;
		background-size: cover;
		cursor: pointer;
		box-shadow: 0 0 0 1px gray;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		overflow: hidden;

		&:after {
			content: '?';
			background-color: rgb(80, 175, 175);
			height: 100%;
			font-size: 3em;
			color: #fff;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.reveal {
			cursor: unset;
			pointer-events: none;
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			-ms-transform: rotateY(180deg);
			transform: rotateY(180deg);
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;

			&.hide {
				opacity: 0;
				transition: opacity .2s linear;
				-webkit-transition: opacity .2s linear;
				-moz-transition: opacity .2s linear;
				-o-transition: opacity .2s linear;
			}

			&:after {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				transform: rotateY(180deg);
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				backface-visibility: hidden;
			}
		}
	}
}

button {
	background: rgb(80, 175, 175);
	border: none;
	font-size: 2em;
	cursor: pointer;
	color: #fff;
	box-shadow: 0 0 5px 2px #fff;
	border-radius: 5px;
	display: block;
	margin: 10px auto;
	padding: 0 10px 5px;

	&:active {
		position: relative;
		top: 2px;
	}

	&:focus {
		outline: none;
	}
}